# Core
django
django-mysql
mysqlclient
SQLAlchemy
mysql-connector-python
Psycopg2

# API Import
httpx

# Analysis
pandas
ipykernel
plotly
seaborn
fsspec
openpyxl

# Testing
pytest
pytest-env
pytest-dotenv

# Dev tools
django-configurations
envdir
django-debug-toolbar
pip-tools
black
flake8
django-environ

# Project-specific
django-allauth
django-cacheops
django-crispy-forms
django-extensions
django-filter
django-google-analytics-app
ipython
whitenoise