{% extends '_base.html' %}
{% load crispy_forms_tags %}
{% load render_table from django_tables2 %}

{% block title %}Portfolio{% endblock title %}

{% block sidebar %}

<ul class="nav flex-column">

    <span class="sidebar-heading">Portfolio Overview</span>

{% endblock sidebar %}

{% block content %}
    
    <div class="container border shadow bg-light rounded py-2 mb-3">
        <div class="row">
            <div class="col-4">
                <div class="card border-0 shadow p-3 mb-3 bg-light rounded">
                    <div class="card-body">
                        <h5 class="card-title">Cost</h5>
                        <p class="card-text">{{ total_dict.total_cost }}</p>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card border-0 shadow p-3 mb-3 bg-light rounded">
                    <div class="card-body">
                        <h5 class="card-title">Fees</h5>
                        <p class="card-text">{{ total_dict.total_fees }} ({{ total_dict.total_pct_fees }})</p>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card border-0 shadow p-3 mb-3 bg-light rounded">
                    <div class="card-body">
                        <h5 class="card-title">Present Value</h5>
                        <p class="card-text">{{ total_dict.total_value }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="card border-0 shadow p-3 mb-3 bg-light rounded">
                    <div class="card-body">
                        <h5 class="card-title">Value Change</h5>
                        <p class="card-text">{{ total_dict.total_value_change }}</p>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card border-0 shadow p-3 mb-3 bg-light rounded">
                    <div class="card-body">
                        <h5 class="card-title">% Value Change</h5>
                        <p class="card-text">{{ total_dict.total_pct_value_change }}</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="accordion shadow mb-3" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Detailed Summary
                </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        {% if results_table %}
                            {% render_table results_table %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                {% if graph %}
                    {{ graph|safe }}
                {% endif %}
            </div>
            <div class="col-6">
                {% if graph2 %}
                    {{ graph2|safe }}
                {% endif %}
            </div>
        </div>
    </div>

{% endblock content %}
