{% extends '_base.html' %}
{% load crispy_forms_tags %}
{% load render_table from django_tables2 %}

{% block title %}Portfolio{% endblock title %}

{% block content %}
    <h1>Portfolio Overview</h1>
    <div class="container border shadow bg-light rounded py-2 mb-3">
        <div class="row">
            <div class="col-4">
                <div class="card border-0 shadow p-3 mb-5 bg-light rounded">
                    <div class="card-body">
                        <h5 class="card-title">Total Shares Cost</h5>
                        <p class="card-text">{{ total_dict.total_cost }}</p>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card border-0 shadow p-3 mb-5 bg-light rounded">
                    <div class="card-body">
                        <h5 class="card-title">Total Fees</h5>
                        <p class="card-text">{{ total_dict.total_fees }}</p>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card border-0 shadow p-3 mb-5 bg-light rounded">
                    <div class="card-body">
                        <h5 class="card-title">Total Value</h5>
                        <p class="card-text">{{ total_dict.total_value }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="card border-0 shadow p-3 mb-5 bg-light rounded">
                    <div class="card-body">
                        <h5 class="card-title">Value Change</h5>
                        <p class="card-text">{{ total_dict.total_value_change }}</p>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card border-0 shadow p-3 mb-5 bg-light rounded">
                    <div class="card-body">
                        <h5 class="card-title">% Value Change</h5>
                        <p class="card-text">{{ total_dict.total_pct_value_change }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                {% if results_table %}
                    {% render_table results_table %}
                {% endif %}
            <div>
        </div>
        <div class="row">
            <div class="col-6">
                {% if graph %}
                    {{ graph|safe }}
                {% endif %}
            </div>
            <div class="col-6">
                {% if graph2 %}
                    {{ graph2|safe }}
                {% endif %}
            </div>
        </div>
    </div>

    

    {% comment %} HTMX Example, not working, only displays one chart at a time {% endcomment %}
    {% comment %} <div hx-trigger="load" hx-get="{% url 'portfolio:portfolio_single_chart' %}" hx-swap="innerHTML" id="frameworks_pie"> {% endcomment %}
        {% comment %} {% include 'portfolio/partials/single-chart.html' %} {% endcomment %}
    {% comment %} <div> {% endcomment %}
    {% comment %} <div hx-trigger="load" hx-get="{% url 'portfolio:portfolio_single_chart2' %}" hx-swap="innerHTML" id="frameworks_pie2"> {% endcomment %}
        {% comment %} {% include 'portfolio/partials/single-chart2.html' %} {% endcomment %}
    {% comment %} <div> {% endcomment %}
{% endblock content %}
