{% extends '_base.html' %}

{% block title %}Transactions{% endblock title %}

<!--
date_dealt = models.DateField(blank=False)
reference = models.CharField(max_length=255)
created_at = models.DateTimeField(auto_now_add=True)
updated_at = models.DateTimeField(auto_now=True)
-->

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-6">
                <div class="card border-0 shadow p-3 mb-5 bg-light rounded">
                    <div class="card-body">
                        <h5 class="card-title">Company</h5>
                        <p class="card-text">{{ transaction.company }}</p>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card border-0 shadow p-3 mb-5 bg-light rounded">
                    <div class="card-body">
                        <h5 class="card-title">Decision</h5>
                        <p class="card-text">{{ transaction.decision }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <div class="card border-0 shadow p-3 mb-5 bg-light rounded">
                    <div class="card-body">
                        <h5 class="card-title">Number of Stock</h5>
                        <p class="card-text">{{ transaction.num_stock }}</p>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card border-0 shadow p-3 mb-5 bg-light rounded">
                    <div class="card-body">
                        <h5 class="card-title">Transaction Price</h5>
                        <p class="card-text">£{{ transaction.price }}</p>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card border-0 shadow p-3 mb-5 bg-light rounded">
                    <div class="card-body">
                        <h5 class="card-title">Transaction fees</h5>
                        <p class="card-text">£{{ transaction.fees }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="card border-0 shadow p-3 mb-5 bg-light rounded">
                    <div class="card-body">
                        <h5 class="card-title">Date Dealt</h5>
                        <p class="card-text">{{ transaction.date_dealt }}</p>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card border-0 shadow p-3 mb-5 bg-light rounded">
                    <div class="card-body">
                        <h5 class="card-title">Reference</h5>
                        <p class="card-text">{{ transaction.reference }}</p>
                    </div>
                </div>
            </div>
        </div>

        <a class="btn btn-primary" href="{% url 'portfolio:transaction_update' transaction.pk %}">Edit</a>
        <a class="btn btn-danger" href="{% url 'portfolio:transaction_delete' transaction.pk %}">Delete</a>

    </div>

{% endblock content %}
