{% extends '_base.html' %}

{% block title %}Wish List{% endblock title %}

{% block sidebar %}

    <span class="sidebar-heading">Wish List</span>
    <hr>
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'portfolio:wishlist_update' wishlist.pk %}">
            <i class="fa fa-wrench" aria-hidden="true"></i>
            Update Item
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'portfolio:wishlist_delete' wishlist.pk %}">
            <i class="fa fa-trash" aria-hidden="true"></i>
            Delete Item
            </a>
        </li>
    </ul>

{% endblock sidebar %}


{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card border-0 shadow p-3 mb-5 bg-light rounded">
                    <div class="card-body">
                        <h5 class="card-title">Company</h5>
                        <p class="card-text">{{ wishlist.company }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="card border-0 shadow p-3 mb-5 bg-light rounded">
                    <div class="card-body">
                        <h5 class="card-title">Reporting Stock Price</h5>
                        <p class="card-text">£{{ wishlist.reporting_stock_price }}</p>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card border-0 shadow p-3 mb-5 bg-light rounded">
                    <div class="card-body">
                        <h5 class="card-title">Current Stock Price</h5>
                        <p class="card-text">£{{ wishlist.current_stock_price }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <div class="card border-0 shadow p-3 mb-5 bg-light rounded">
                    <div class="card-body">
                        <h5 class="card-title">Reporting Margin of Safety</h5>
                        <p class="card-text">{{ wishlist.reporting_mos }}</p>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card border-0 shadow p-3 mb-5 bg-light rounded">
                    <div class="card-body">
                        <h5 class="card-title">Current Margin of Safety</h5>
                        <p class="card-text">{{ wishlist.current_mos }}</p>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card border-0 shadow p-3 mb-5 bg-light rounded">
                    <div class="card-body">
                        <h5 class="card-title">Buy Margin of Safety</h5>
                        <p class="card-text">{{ wishlist.buy_mos }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="card border-0 shadow p-3 mb-5 bg-light rounded">
                    <div class="card-body">
                        <h5 class="card-title">Created At</h5>
                        <p class="card-text">{{ wishlist.created_at }}</p>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card border-0 shadow p-3 mb-5 bg-light rounded">
                    <div class="card-body">
                        <h5 class="card-title">Updated At</h5>
                        <p class="card-text">{{ wishlist.updated_at }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
