{% extends '_base.html' %}

{% block title %}Investments{% endblock title %}

{% block content %}

<div class="row">
    <div class="col-6">
        <h1>Investment Page</h1>
    </div>
    <div class="col-6">
        <a class="btn btn-primary float-right" href="{% url 'portfolio:investment_create' %}">Add Investment</a>
    </div>
</div>


<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Decision</th>
            <th scope="col">Date Dealt</th>
            <th scope="col">Date Settled</th>
            <th scope="col">Reference</th>
            <th scope="col">No. Shares</th>
            <th scope="col">Price</th>
            <th scope="col">Fees</th>
        </tr>
    </thead>
    <tbody>
        {% for investment in investment_list %}
            <tr>
                <td><a href="{{ investment.get_absolute_url }}">{{ investment.company }}</a></td>
                <td>{{ investment.decision }}</td> 
                <td>{{ investment.date_dealt }}</td>
                <td>{{ investment.date_settled }}</td>
                <td>{{ investment.reference }}</td>
                <td>{{ investment.num_stock }}</td>
                <td>{{ investment.price }}</td>
                <td>{{ investment.fees }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}
