{% extends '_base.html' %}

{% block title %}Investments{% endblock title %}

{% block content %}
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Decision</th>
            <th scope="col">date_dealt</th>
            <th scope="col">date_settled</th>
            <th scope="col">reference</th>
            <th scope="col">price</th>
            <th scope="col">fees</th>
            <th scope="col">created_at</th>
            <th scope="col">updated_at</th>
        </tr>
    </thead>
    <tbody>
        <h1>Investment Page</h1>
        {% for investment in investment_list %}
            <tr>
                <td><a href="{{ investment.get_absolute_url }}">{{ investment.company }}</a></td>
                <td>{{ investment.decision }}</td> 
                <td>{{ investment.date_dealt }}</td>
                <td>{{ investment.date_settled }}</td>
                <td>{{ investment.reference }}</td>
                <td>{{ investment.price }}</td>
                <td>{{ investment.fees }}</td>
                <td>{{ investment.created_at }}</td>
                <td>{{ investment.updated_at }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}
