{% extends '_base.html' %}
{% load render_table from django_tables2 %}

{% block title %}Companies{% endblock title %}

{% block sidebar %}

    <span class="sidebar-heading">Company List</span>

    <li class="nav-item">
        <a class="nav-link" href="{% url 'ancillary:company_create' %}">
        <i class="fa fa-plus-square" aria-hidden="true"></i>
         Add Company
        </a>
    </li>

{% endblock sidebar %}

{% block content %}

    <h1>Companies Page</h1>

    {% render_table table %}

{% endblock content %}
