{% extends '_base.html' %}

{% block title %}Companies{% endblock title %}

{% block sidebar %}
    <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-light">
        <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 min-vh-100">
            <span class="sidebar-heading">Companies</span>
            <hr>
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'ancillary:company_update' company.pk %}">
                    <i class="fa fa-wrench" aria-hidden="true"></i>
                    Update Company
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'ancillary:company_delete' company.pk %}">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                    Delete Company
                    </a>
                </li>
            </ul>
        </div>
    </div>
{% endblock sidebar %}

{% block content %}

    {% if messages %}
        {% for message in messages %}
            <div class="text-center alert alert-{{ message.tags }}">
                {{ message|safe }}
            </div>
        {% endfor %}
    {% endif %}

    <div class="container">
        <div class="row">
            <div class="col-6">
                <div class="card border-0 shadow p-3 mb-5 bg-light rounded">
                    <div class="card-body">
                        <h5 class="card-title">Name</h5>
                        <p class="card-text">{{ company.company_name }}</p>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card border-0 shadow p-3 mb-5 bg-light rounded">
                    <div class="card-body">
                        <h5 class="card-title">TIDM</h5>
                        <p class="card-text">{{ company.tidm }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <div class="card border-0 shadow p-3 mb-5 bg-light rounded">
                    <div class="card-body">
                        <h5 class="card-title">Type</h5>
                        <p class="card-text">{{ company.comp_type }}</p>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card border-0 shadow p-3 mb-5 bg-light rounded">
                    <div class="card-body">
                        <h5 class="card-title">Sector</h5>
                        <p class="card-text">{{ company.sector }}</p>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card border-0 shadow p-3 mb-5 bg-light rounded">
                    <div class="card-body">
                        <h5 class="card-title">Industry</h5>
                        <p class="card-text">{{ company.industry }}</p>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card border-0 shadow p-3 mb-5 bg-light rounded">
                    <div class="card-body">
                        <h5 class="card-title">Exchange</h5>
                        <p class="card-text">{{ company.exchange }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="card border-0 shadow p-3 mb-5 bg-light rounded">
                    <div class="card-body">
                        <h5 class="card-title">Country</h5>
                        <p class="card-text">{{ company.country }}</p>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card border-0 shadow p-3 mb-5 bg-light rounded">
                    <div class="card-body">
                        <h5 class="card-title">Currency</h5>
                        <p class="card-text">{{ company.currency }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card border-0 shadow p-3 mb-5 bg-light rounded">
                    <div class="card-body">
                        <h5 class="card-title">Source</h5>
                        <p class="card-text">{{ company.company_source }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card border-0 shadow p-3 mb-5 bg-light rounded">
                    <div class="card-body">
                        <h5 class="card-title">Summary</h5>
                        <p class="card-text">{{ company.company_summary }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
