{% extends '_base.html' %}

{% block title %}Companies{% endblock title %}

<!--
<td>{{ company.company_name }}</td>
<td>{{ company.tidm }}</td>
<td>{{ company.comp_type }}</td> 
<td>{{ company.sector }}</td>
<td>{{ company.industry }}</td>
<td>{{ company.exchange }}</td>
<td>{{ company.country }}</td>
<td>{{ company.currency }}</td>
<td>{{ company.company_source }}</td>
<td>{{ company.wish_list }}</td>
<td>{{ company.company_summary }}</td>
-->

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-6">
                <div class="card border-0 shadow p-3 mb-5 bg-light rounded">
                    <div class="card-body">
                        <h5 class="card-title">Name</h5>
                        <p class="card-text">{{ company.company_name }}</p>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card border-0 shadow p-3 mb-5 bg-light rounded">
                    <div class="card-body">
                        <h5 class="card-title">TIDM</h5>
                        <p class="card-text">{{ company.tidm }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <div class="card border-0 shadow p-3 mb-5 bg-light rounded">
                    <div class="card-body">
                        <h5 class="card-title">Type</h5>
                        <p class="card-text">{{ company.comp_type }}</p>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card border-0 shadow p-3 mb-5 bg-light rounded">
                    <div class="card-body">
                        <h5 class="card-title">Sector</h5>
                        <p class="card-text">{{ company.sector }}</p>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card border-0 shadow p-3 mb-5 bg-light rounded">
                    <div class="card-body">
                        <h5 class="card-title">Industry</h5>
                        <p class="card-text">{{ company.industry }}</p>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card border-0 shadow p-3 mb-5 bg-light rounded">
                    <div class="card-body">
                        <h5 class="card-title">Exchange</h5>
                        <p class="card-text">{{ company.exchange }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="card border-0 shadow p-3 mb-5 bg-light rounded">
                    <div class="card-body">
                        <h5 class="card-title">Country</h5>
                        <p class="card-text">{{ company.country }}</p>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card border-0 shadow p-3 mb-5 bg-light rounded">
                    <div class="card-body">
                        <h5 class="card-title">Currency</h5>
                        <p class="card-text">{{ company.currency }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="card border-0 shadow p-3 mb-5 bg-light rounded">
                    <div class="card-body">
                        <h5 class="card-title">Source</h5>
                        <p class="card-text">{{ company.company_source }}</p>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card border-0 shadow p-3 mb-5 bg-light rounded">
                    <div class="card-body">
                        <h5 class="card-title">Wish List</h5>
                        <p class="card-text">{{ company.wish_list }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card border-0 shadow p-3 mb-5 bg-light rounded">
                    <div class="card-body">
                        <h5 class="card-title">Summary</h5>
                        <p class="card-text">{{ company.company_summary }}</p>
                    </div>
                </div>
            </div>
        </div>

        <a class="btn btn-primary" href="{% url 'ancillary:company_update' company.pk %}">Edit</a>
        <a class="btn btn-danger" href="{% url 'ancillary:company_delete' company.pk %}">Delete</a>

    </div>

{% endblock content %}
