{% extends '_base.html' %}
{% load render_table from django_tables2 %}

{% block title %}DCF Variables{% endblock title %}

{% block sidebar %}

    <span class="sidebar-heading">DCF Variables - {{ company_name }}</span>
    <hr>
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'ancillary:dcf_var_update' company.pk %}">
            <i class="fa fa-wrench" aria-hidden="true"></i>
            Update DCF
            </a>
        </li>
    </ul>
{% endblock sidebar %}

{% block content %}

    {% if messages %}
        {% for message in messages %}
            <div class="text-center alert alert-{{ message.tags }}">
                {{ message|safe }}
            </div>
        {% endfor %}
    {% endif %}

    {% render_table data %}
    
{% endblock content %}
