{% extends '_base.html' %}
{% load crispy_forms_tags %}

{% block title %}Companies DCF Variables Update{% endblock title %}

{% block content %}
    <h1>DCF Variables Update</h1>
    {% if messages %}
        {% for message in messages %}
            <div class="text-center alert alert-{{ message.tags }}">
                {{ message|safe }}
            </div>
        {% endfor %}
    {% endif %}
    <p>{{ company_name }}</p>

    <form action="" method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="submit" value="Save" />
    </form>

{% endblock content %}
