{% extends '_base.html' %}

{% block title %}{{company.company_name}}{% endblock title %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col">
            <h2 class="text-info">{{company.company_name}} <span class="badge badge-secondary">{{company.tidm}}</span></h2>
        </div>
        <div class="col">
            <h3 class="float-right text-secondary">{{company.share_listing}}</h3>
        </div>
        <div class="col">
            <h3 class="float-right bg-dark text-white rounded px-2 py-1">£{{company.share_price}}</h3>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>{{company.company_summary}}</p>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Defensive Rank:
                    <span class="badge badge-success badge-pill">{{company.defensive_rank}}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    PE10 Rank:
                    <span class="badge badge-primary badge-pill">{{company.pe_10_rank}}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    DP10 Rank:
                    <span class="badge badge-primary badge-pill">{{company.dp_10_rank}}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Growth Quality Rank:
                    <span class="badge badge-primary badge-pill">{{company.growth_quality_rank}}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Growth Rate (10 year) Rank:
                    <span class="badge badge-primary badge-pill">{{company.growth_rate_10_rank}}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Median ROCE (10 year) Rank:
                    <span class="badge badge-primary badge-pill">{{company.median_roce_10_rank}}</span>
                </li>
            </ul>
        </div>
        <div class="col">
            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    N/A
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    PE10 Rank Value:
                    <span class="badge badge-primary badge-pill">{{company.pe_10_rank_value}}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    DP10 Rank Value:
                    <span class="badge badge-primary badge-pill">{{company.dp_10_rank_value}}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Growth Quality Rank Value:
                    <span class="badge badge-primary badge-pill">{{company.growth_quality_rank_value}}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Growth Rate (10 year) Rank Value:
                    <span class="badge badge-primary badge-pill">{{company.growth_rate_10_rank_value}}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Median ROCE (10 year) Rank Value:
                    <span class="badge badge-primary badge-pill">{{company.median_roce_10_rank_value}}</span>
                </li>
            </ul>
        </div>
    </div>
    
    <hr>

    <p>Company Type: {{company.company_type}}</p>
    <p>Industry Name: {{company.industry_name}}</p>
    <p>Debt to Equity (D/E): {{company.debt_to_equity}}</p>
    <p>Current Ratio: {{company.current_ratio}}</p>
    <p>Return on Equity (ROE): {{company.return_on_equity}}</p>
    <p>Equity (Book Value) Per Share: {{company.equity_per_share}}</p>
    <p>Price to Earnings (P/E): {{company.price_to_earnings}}</p>
    <p>Price to Book Value (Equity): {{company.price_to_equity}}</p>
    <p>Annual Yield (Return): {{company.annual_return}}</p>
    <p>Free cash flow (FCF): {{company.fcf_growth_rate}}</p>
    <p>Dividend Payment: {{company.dividend_payment}}</p>
    <p>Dividend Cover: {{company.dividend_cover}}</p>
    <p>DCF Intrinsic Value: {{company.dcf_intrinsic_value}}</p>
    <hr>
    <p>Revenue Growth: {{company.revenue_growth}}</p>
    <p>EPS Growth: {{company.eps_growth}}</p>
    <p>Dividend Growth: {{company.dividend_growth}}</p>
    <p>Growth Quality: {{company.growth_quality}}</p>
    <p>Revenue Growth (10 year): {{company.revenue_rowth_10}}</p>
    <p>Earnings Growth (10 year): {{company.earnings_growth_10}}</p>
    <p>Dividend Growth (10 year): {{company.dividend_growth_10}}</p>
    <p>Overall Growth (10 year): {{company.overall_growth_10}}</p>
    <p>Growth Rate (10 year): {{company.growth_rate_10}}</p>
    <p>Capital Employed: {{company.capital_employed}}</p>
    <p>ROCE: {{company.roce}}</p>
    <p>Median ROCE (10 year): {{company.median_roce_10}}</p>
    <p>Debt Ratio: {{company.debt_ratio}}</p>
    <p>PE10: {{company.pe_10}}</p>
    <p>DP10: {{company.dp_10}}</p>
</div>

{% endblock content %}