{% extends '_base.html' %}

{% block title %}Dashboard{% endblock title %}

{% block content %}
    <div class="row">
        <div class="col">
            {% if share_chart %}
                <h3>Share Price</h3>
                {{ share_chart | safe }}
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col">
            {% if eps_chart %}
                {{ eps_chart | safe }}
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col">
            {% if dividend_chart %}
                {{ dividend_chart | safe }}
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col">
            {% if roe_chart %}
                {{ roe_chart | safe }}
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col">
            {% if equity_chart %}
                {{ equity_chart | safe }}
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col">
            {% if roce_chart %}
                {{ roce_chart | safe }}
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col">
            {% if total_chart %}
                <img src="data:image/png;base64, {{ total_chart | safe }}" height="420" width="auto">
                {% comment %} {{ total_chart | safe }} {% endcomment %}
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col">
            {% if current_chart %}
                <img src="data:image/png;base64, {{ current_chart | safe }}" height="420" width="auto">
                {% comment %} {{ current_chart | safe }} {% endcomment %}
            {% endif %}
        </div>
    </div>
{% endblock content %}
