{% extends '_base.html' %}
{% load render_table from django_tables2 %}

{% block title %}Dashboard{% endblock title %}

{% block content %}

    <h1>{{ report_type }}</h1>
    {{ finance_table | safe }}

    <table class="table">
        <thead>
            <tr>
            {% for item in table_data %}
                {% if forloop.first %}
                    {% for h in item %}
                        {% if forloop.first %}
                            <th>first column</th>
                        {% endif %}
                        <th>{{ h }}</th>
                    {% endfor %}
                {% endif %}
            {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for item in table_data %}
                <tr>
                    {% for key,value in item.items %}
                        {% if forloop.first %}
                            <td>first column</td>
                        {% endif %}
                        <td>£{{ value|floatformat:"2g" }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock content %}
