{% extends '_base.html' %}

{% block title %}Dashboard{% endblock title %}

{% block content %}
    <div class="row">
        <div class="col">
            <h3>Share Price</h3>
            <div id="sharePriceDiv"></div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h3>EPS Norm</h3>
            <div id="epsNormDiv"></div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h3>Dividend</h3>
            <div id="dividendDiv"></div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            {% if roe_chart %}
                {{ roe_chart | safe }}
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col">
            {% if equity_chart %}
                {{ equity_chart | safe }}
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col">
            {% if roce_chart %}
                {{ roce_chart | safe }}
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col">
            {% if total_chart %}
                <img src="data:image/png;base64, {{ total_chart | safe }}" height="420" width="auto">
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col">
            {% if current_chart %}
                <img src="data:image/png;base64, {{ current_chart | safe }}" height="420" width="auto">
            {% endif %}
        </div>
    </div>
{% endblock content %}

<script>
    // API Data
    {% block jquery %}

        var index = ["share-price/", "eps-norm/", "dividend/"];
        var div_index = ["sharePriceDiv", "epsNormDiv", "dividendDiv"];
        var index_size = index.length;

        var f = (function(){
        var xhr = [], i;
        for(i = 0; i < index_size; i++){ //for loop
            (function(i){

                var url = "data/" + index[i];
                var div_id = div_index[i]
                console.log(url)
                console.log(div_id)

                xhr[i] = new XMLHttpRequest();
                xhr[i].open("GET", url, true);
                xhr[i].onreadystatechange = function(){
                    if (xhr[i].readyState === 4 && xhr[i].status === 200){
                        var data = JSON.parse(xhr[i].responseText);
                        console.log(data)
                        var trace1 = {
                            x: data.x_data,
                            y: data.y_data,
                            type: 'scatter'
                        };
                        var data = [trace1];
                        Plotly.newPlot(div_id, data);
                        }
                    };
                    xhr[i].send();
                })(i);
            }
        })();

    {% endblock jquery %}
</script>