{% extends '_base.html' %}

{% block title %}Dashboard{% endblock title %}

{% block content %}
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Industry</th>
            <th scope="col">Revenue</th>
            <th scope="col">FCF</th>
            <th scope="col">Share Price</th>
            <th scope="col">Intrinsic Value</th>
            <th scope="col">Margin of Safety</th>
        </tr>
    </thead>
    <tbody>
        {% for company in company_list %}
            <tr>
                <td><a href="{{ company.get_absolute_url }}">{{company.company_name}}</a></td>
                <td>{{company.industry_name}}</td>
                <td>{{company.revenue}}</td>
                <td>{{company.fcf}}</td>
                <td>{{company.share_price}}</td>
                <td>{{company.dcf_intrinsic_value}}</td>
                <td>{{company.margin_safety}}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}


