{% extends '_base.html' %}

{% block title %}Transactions{% endblock title %}

{% block sidebar %}
    <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-light">
        <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 min-vh-100">
            <span class="sidebar-heading">Transactions</span>
            <hr>
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'portfolio:transaction_update' transaction.pk %}">
                    <i class="fa fa-wrench" aria-hidden="true"></i>
                    Update Transaction
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'portfolio:transaction_delete' transaction.pk %}">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                    Delete Transaction
                    </a>
                </li>
            </ul>
        </div>
    </div>
{% endblock sidebar %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-6">
                <div class="card border-0 shadow p-3 mb-5 bg-light rounded">
                    <div class="card-body">
                        <h5 class="card-title">Company</h5>
                        <p class="card-text">{{ transaction.company }}</p>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card border-0 shadow p-3 mb-5 bg-light rounded">
                    <div class="card-body">
                        <h5 class="card-title">Decision</h5>
                        <p class="card-text">{{ transaction.decision }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <div class="card border-0 shadow p-3 mb-5 bg-light rounded">
                    <div class="card-body">
                        <h5 class="card-title">Number of Stock</h5>
                        <p class="card-text">{{ transaction.num_stock }}</p>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card border-0 shadow p-3 mb-5 bg-light rounded">
                    <div class="card-body">
                        <h5 class="card-title">Investment Price</h5>
                        <p class="card-text">£{{ transaction.price }}</p>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card border-0 shadow p-3 mb-5 bg-light rounded">
                    <div class="card-body">
                        <h5 class="card-title">Investment fees</h5>
                        <p class="card-text">£{{ transaction.fees }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="card border-0 shadow p-3 mb-5 bg-light rounded">
                    <div class="card-body">
                        <h5 class="card-title">Date Dealt</h5>
                        <p class="card-text">{{ transaction.date_dealt }}</p>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card border-0 shadow p-3 mb-5 bg-light rounded">
                    <div class="card-body">
                        <h5 class="card-title">Reference</h5>
                        <p class="card-text">{{ transaction.reference }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
