{% extends '_base.html' %}

{% block title %}Transactions{% endblock title %}

{% block sidebar %}

    <span class="sidebar-heading">Transactions</span>
    <hr>
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'portfolio:transaction_create' %}">
            <i class="fa fa-plus-circle" aria-hidden="true"></i>
            Add Transaction
            </a>
        </li>
    </ul>

{% endblock sidebar %}

{% block content %}

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Decision</th>
            <th scope="col">Date Dealt</th>
            <th scope="col">Date Settled</th>
            <th scope="col">Reference</th>
            <th scope="col">No. Shares</th>
            <th scope="col">No. Shares Balance</th>
            <th scope="col">Price</th>
            <th scope="col">Fees</th>
        </tr>
    </thead>
    <tbody>
        {% for transaction in transaction_list %}
            <tr>
                <td><a href="{{ transaction.get_absolute_url }}">{{ transaction.company }}</a></td>
                <td>{{ transaction.decision }}</td> 
                <td>{{ transaction.date_dealt }}</td>
                <td>{{ transaction.date_settled }}</td>
                <td>{{ transaction.reference }}</td>
                <td>{{ transaction.num_stock }}</td>
                <td>{{ transaction.num_stock_balance }}</td>
                <td>{{ transaction.price }}</td>
                <td>{{ transaction.fees }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}
