{% extends '_base.html' %}

{% block title %}Cash{% endblock title %}

{% block sidebar %}

    <span class="sidebar-heading">Cash</span>
    <hr>
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'portfolio:cash_create' %}">
            <i class="fa fa-plus-circle" aria-hidden="true"></i>
            Add Cash Transaction
            </a>
        </li>
    </ul>

{% endblock sidebar %}

{% block content %}

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Decision</th>
            <th scope="col">Date Dealt</th>
            <th scope="col">Cash Value</th>
        </tr>
    </thead>
    <tbody>
        {% for cash in cash_list %}
            <tr>
                <td><a href="{{ cash.get_absolute_url }}">{{ cash.company }}</a></td>
                <td>{{ cash.decision }}</td> 
                <td>{{ cash.date_dealt }}</td>
                <td>{{ cash.cash_value }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}
