{% extends '_base.html' %}

{% block title %}Cash{% endblock title %}

{% block sidebar %}

    <span class="sidebar-heading">Cash</span>
    <hr>
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'portfolio:cash_update' cash.pk %}">
            <i class="fa fa-wrench" aria-hidden="true"></i>
            Update Cash Transaction
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'portfolio:cash_delete' cash.pk %}">
            <i class="fa fa-trash" aria-hidden="true"></i>
            Delete Cash Transaction
            </a>
        </li>
    </ul>

{% endblock sidebar %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-6">
                <div class="card border-0 shadow p-3 mb-5 bg-light rounded">
                    <div class="card-body">
                        <h5 class="card-title">Cash Value</h5>
                        <p class="card-text">£{{ cash.cash_value }}</p>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card border-0 shadow p-3 mb-5 bg-light rounded">
                    <div class="card-body">
                        <h5 class="card-title">Decision</h5>
                        <p class="card-text">{{ cash.decision }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card border-0 shadow p-3 mb-5 bg-light rounded">
                    <div class="card-body">
                        <h5 class="card-title">Date Dealt</h5>
                        <p class="card-text">{{ cash.date_dealt }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
